#Pandas Basics

In [ ]:
%pylab inline

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(525)

##Series

In [ ]:
s1 = Series([1, 2, 3])
s1

In [ ]:
s1.values

In [ ]:
s1.index

In [ ]:
s2 = Series([1, 2, 3], index=['a', 'b', 'c'])
s2

In [ ]:
s2[1]

In [ ]:
s2['b']

In [ ]:
s2[s2 % 2 == 1]

In [ ]:
s2 * 5

In [ ]:
np.exp(s2)

In [ ]:
'b' in s2

In [ ]:
2 in s2.values

In [ ]:
s3 = Series({'foo': 10, 'bar': 20, 'baz': 30})
s3

In [ ]:
s4 = Series({'b': 2, 'c': 3,'d': 4}, index=['a', 'b', 'c'])
s4

In [ ]:
s4.isnull()

In [ ]:
Series({'a': 1, 'b': 2}) + Series({'b': 10, 'c': 20})

In [ ]:
s4.index = ['x', 'y', 'z']
s4

##Data Frame

In [ ]:
d = {'foo': [1, 2, 3], 'bar': [5, 10, 15], 'baz': [True, True, False]}
f1 = DataFrame(d)
f1

In [ ]:
f2 = DataFrame(d, columns=['foo', 'bar', 'baz'])
f2

In [ ]:
f3 = DataFrame(d, columns=['foo', 'bar', 'baz', 'hello'])
f3

In [ ]:
f3['foo']

In [ ]:
f3.bar

In [ ]:
f3.ix[2]

In [ ]:
f3.hello = np.arange(3)
f3

In [ ]:
f3['world'] = -4.5e-3
f3

In [ ]:
del f3['foo']
f3

In [ ]:
f3.columns

In [ ]:
f3.T

In [ ]:
f3.index.name = 'idx'
f3.columns.name = 'features'
f3

In [ ]:
f3.values

##Index Objects

In [ ]:
f4 = DataFrame({'a': range(3), 'b': 'asd'})
f4

In [ ]:
f4.index

In [ ]:
f4.index[2]

#Essential Funcionality

##Reindexing

In [ ]:
f5 = DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'b', 'c'])
f6 = f5.reindex(['b', 'c', 'd'], method='ffill')
f6

##Dropping Entries from an Axis

In [ ]:
f6.drop('b')

In [ ]:
f7 = DataFrame({'foo': range(5), 'bar': range(50, 100, 10), 'baz': 0})
f7

In [ ]:
f7.drop(['bar', 'baz'], axis=1)

##Indexing, Selection and Filtering

In [ ]:
f7.bar

In [ ]:
f7[2:]

In [ ]:
f7[f7.foo % 2 == 0]

In [ ]:
f7[['bar', 'foo']]

In [ ]:
(f7 / 10) % 2 == 0

In [ ]:
f7.ix[[2, 4], ['bar']]

In [ ]:
f7.ix[f7.foo %2 == 0, :1]

In [ ]:
f8 = f7[:3]
f8

##Arithmetic and Data Alignment

In [ ]:
f9 = DataFrame({'foo': [1.2, -3]}, index=['a', 'b'])
f10 = DataFrame({'foo': [2, 25]}, index=['a', 'c'])
f11 = f9 + f10
f11

In [ ]:
f12 = DataFrame({'foo': [1.2, -3], 'bar': [0, 0]}, index=['a', 'b'])
f13 = DataFrame({'foo': [2, 25], 'baz': [5, 5]}, index=['a', 'b'])
f14 = f12 + f13
f14

In [ ]:
f15 = DataFrame(np.arange(16).reshape((4, 4)), columns=list('abcd'))
f16 = DataFrame(np.arange(9).reshape((3, 3)), columns=list('abc'))
f17 = f15.sub(f16, fill_value=0)
f17

In [ ]:
f18 = DataFrame(np.arange(9).reshape((3, 3)), index=list('abc'), columns=list('xyz'))
f18 - f18.ix[0]

In [ ]:
f18.sub(f18['y'], axis=0)

##Function Application and Mapping

In [ ]:
f19 = DataFrame(np.random.randn(9).reshape((3, 3)))
np.abs(f19)

In [ ]:
f20 = DataFrame(np.random.randn(12).reshape((4, 3)))
f20

In [ ]:
f = lambda x: x.max() - x.min()
f20.apply(f)

In [ ]:
f20.apply(f, axis=1)

In [ ]:
def stats(x):
    return Series([x.min(), x.max()], index=['min', 'max'])
f20.apply(stats)

In [ ]:
f20.apply(stats, axis=1)

In [ ]:
def myformat(x):
    return "%.2f" % x
f20.applymap(myformat)

##Sorting and Ranking

In [ ]:
f21 = DataFrame(np.arange(16).reshape((4, 4)), index=list('dacb'), columns=list('opnm'))
f22 = f21.sort_index()
f22

In [ ]:
f23 = f22.sort_index(axis=1)
f23

In [ ]:
f23.sort_index(ascending=False)

In [ ]:
f24 = DataFrame(np.random.randn(25).reshape((5, 5)), columns=list('abcde'))
f24.sort_index(by='c')

In [ ]:
f24['c'] = 0
f24.sort_index(by=['c', 'a'])

In [ ]:
f24

In [ ]:
f24.rank()

In [ ]:
f24.rank(method='first')

##Axis Indexes with Duplicate Values

In [ ]:
s25 = Series(range(5), index=list('abaca'))
s25.index.is_unique

In [ ]:
s25['a']

In [ ]:
f25 = DataFrame(np.arange(8).reshape((4, 2)), index=list('abca'))
f25

In [ ]:
f25.index.is_unique

In [ ]:
f25.ix['a']

##Summarizing and Computing Descriptive Statistics

In [ ]:
f26 = DataFrame([[1, -4],[np.nan, 7.3],[0, np.nan]], index=list('abc'), columns=['one', 'two'])
f26

In [ ]:
f26.sum()

In [ ]:
f26.sum(axis=1)

In [ ]:
f26.sum(axis=1, skipna=False)

In [ ]:
f26.idxmax()

In [ ]:
f26.cumsum()

In [ ]:
f26.describe()

In [ ]:
f27 = DataFrame([['foo', 'bar'], ['foo', 'baz'], ['foo', 'bar']], columns=['hello', 'world'])
f27.describe()

In [ ]:
import pandas.io.data as web
all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker)
price = DataFrame({tic: data['Adj Close'] for tic, data in all_data.iteritems()})
volume = DataFrame({tic: data['Volume'] for tic, data in all_data.iteritems()})

In [ ]:
returns = price.pct_change()
returns.tail()

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.MSFT.cov(returns.IBM)

In [ ]:
returns.corr()

In [ ]:
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

##Unique Values, Value Counts and Membership

In [ ]:
s28 = Series(list('abcbbacaacabacbaba'))
s28[:5]

In [ ]:
s28.unique()

In [ ]:
s28.value_counts()

In [ ]:
s28.isin(list('ab'))[:5]

##Handling Missing Data

In [ ]:
s29 = Series(['a', 'b', np.NaN, 'd', None, 'f'])
s29

In [ ]:
s29.isnull()

In [ ]:
from numpy import nan as NA

In [ ]:
s30 = Series([1, NA, 3.5, NA, 7])
s30.dropna()

In [ ]:
s30[s30.notnull()]

In [ ]:
d31 = DataFrame([[1, NA, 3], [NA, NA, NA], [5, 5, 5]])
d31

In [ ]:
d31.dropna()

In [ ]:
d31.dropna(how='all')

In [ ]:
d32 = DataFrame(np.random.randn(7, 3))
d32.ix[:4, 1] = NA
d32.ix[:2, 2] = NA
d32

In [ ]:
d32.dropna(thresh=2)

In [ ]:
d32.fillna(0)

In [ ]:
d33 = d32.copy()
d33.fillna({1: 0, 2: 5}, inplace=True)

In [ ]:
d32.fillna(d32.mean())

##Hierarchical Indexing

In [ ]:
d33 = DataFrame(np.random.randn(10), index=[list('aaabbbbcdd'), [1, 2, 3, 1, 3, 2, 4, 1, 3, 2]])
d33

In [ ]:
d33.index

In [ ]:
d33.ix['b']

In [ ]:
d33.ix['b', 2]

In [ ]:
d33.unstack()

In [ ]:
d33.index.names = ['foo', 'bar']
d33

In [ ]:
d34 = d33.swaplevel('foo', 'bar')
d34

In [ ]:
d34.stack()

In [ ]:
d34.sortlevel(0)

In [ ]:
d34.sum(level='foo')